[data-app-pagination] {

    ul {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        gap: 20px;

        li {
            a {
                color: var(--color-main);
                
            }

            [aria-current=page]{
                color: var(--color-warning);
            }

            svg{
                height: 20px;
                width: 20px;

            }

            &:first-child{
                svg{
                    transform: rotate(-180deg);
                }
            }
        }
    }
}