<link rel="preload" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">

<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
//- <script src="https://unpkg.com/imask"></script>
<script defer="defer" src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
<script defer="defer" src="https://cdnjs.cloudflare.com/ajax/libs/imask/7.6.0/imask.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
//- <script>
//- |function toggleDataTheme() {
//- |const body = document.body;
//- |const currentTheme = body.getAttribute('data-app-theme');
//- |const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
//- |body.setAttribute('data-app-theme', newTheme);
//- |const button = this;console.log(this)
//- |}
//- </script>