mixin nav-panel()
    div(data-app-nav-panel data-app-dialog="right" id="navDialog")
        div
            +logo({
                type: 'link',
                attr: 'color-white header',
                logoType: 'img',
                imgFolder: 'logo',
                width: 200,
                height: 46
            })


            +button({
                attr: 'panel-close h-44 ',
                svg: true,
                icon:'svg_close',
                attrs: {
					'dialog-close': true
				}
            })


        +nav({
            type:'header',
            attr:'mobile',
            maxLevel: 1,
            ariaLabel: 'Close menu',

        })

        div
            //- +contact('','','','contactMobile')
            //- +social('color-white size-50','header','')